<%- include("./header") -%>


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/css/admin-styles.css">

</head>

<nav id="adminPanel" class="navbar navbar-inverse sidebar" >

		<div class="navbar-header">

			<a class="navbar-brand" href="/admin">Admin Panel</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->

			<ul class="nav navbar-nav">
        <li ><a href="/admin">DASH BOARD<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li ><a href="/admin/purchases">PURCHASES<span style="font-size:16px;margin-right:3px;" class="pull-right hidden-xs showopacity fab fa-product-hunt"></span></a></li>
				<li ><a href="/admin/sell">ADD PRODUCT<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
				<li ><a href="/admin/messages">MESSAGES<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
				<li ><a href="/admin/site-settings">SITE SETTINGS<span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-cogs"></span></a></li>
				<li ><a href="/admin/allusers">ALL USERS<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
			</ul>
</nav>
