
<%- include("partials/header"); -%>
    <h1>Add a Coupon</h1>
    <form class="" action="#" onsubmit="return check();" method="post">
<p id="error-text"></p>
      <div class="form-group">
        <label>Name</label>
        <input id="cname" type="text" style="width:25%" maxlength="35" class="form-control" name="cname">
        <label>Discount in %</label>
        <input class="form-control" id="discount" style="width:15%" type="number" name="discount">
        <label>validatetill(month/day/year)</label>
        <input id="till" class="form-control" style="width:15%" type="date" name="date">


      </div>
   <a href="/admin/coupons"  >     <button class="btn btn-link" type="button" style="  text-decoration: underline;  font-weight: bold;">Go Back</button> </a>

      <button class="btn btn-primary" type="submit" name="button">ADD</button>
    </form>




<script>
  function check() {
var discount = document.getElementById("discount").value;
var cname = document.getElementById("cname").value;

    if (cname.length < 3)
    { $("#error-text").text("Name must have 3 letters or more");
      return false;
  }
if (discount > 101 || discount < 1)
  {
    $("#error-text").text("Cant be more than 100 or below 0");
      return false;
  }

  var till = document.getElementById("till").value;
  var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = yyyy + '-' + mm + '-' + dd;

  if (till<today)
  { $("#error-text").text("Date cant be before today!");
      return false;
}



}
</script>
<%- include("partials/footer"); -%>
