<%- include("partials/header"); -%>


<h1>Login</h1>
<form class="" action="/login" method="post">
  <div class="form-group">
    <p style="margin-top:35px;" class="alert alert-success <%if (!errorMsg) { %> hidden <%}%>  ">
    <%=errorMsg%>
    </p>
    <label>User</label>
    <input class="form-control" style="width:15%" type="text" name="username">
    <label>Password</label>    <i   onclick="togglePasswordFieldClicked()" id="togglePasswordField" value="Toggle Password" class="fas fa-eye"></i>

    <input class="form-control" style="width:15%" id="passwordField" type="password"  value="" autocomplete="off" name="password">
  </div>
  <button class="btn btn-primary" type="submit" name="button">LOGIN</button>
</form>
<p>Don't have an account yet? <a href="/register">Sign up instead!</a></p>
<%- include("partials/footer"); -%>
<script src="javascripts/main.js"></script>

<!-- <script>

  function togglePasswordFieldClicked() {
  var pwID = document.getElementById("passwordField");
  if (pwID.type === "password") {
    pwID.type = "text";
  } else {
    pwID.type = "password";
  }
}
</script> -->
