<%- include("partials/header"); -%>

  <div class="loginpage">
    <div class="text-center mt-4 name">
      <h1> Login Page </h1>
    </div>
    <form class="login-form p-3 mt-3" action="/login" method="post">
      <div class="form-group">
        <p style="margin-top:35px;" class="alert alert-success <%if (!errorMsg) { %> hidden <%}%>  ">
          <%=errorMsg%>
        </p>
        <div class="form-field d-flex align-items-center"> <label>Username</label>
          <span class="far fa-user"></span> <input class="login-input" type="text" name="username"
            placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center"> <label>Password</label> <i
            onclick="togglePasswordFieldClicked()" id="togglePasswordField" value="Toggle Password"
            class="fas fa-key"></i>

          <span class="fas fa-eye"></span><input class=" login-input" id="passwordField" type="password" value=""
            autocomplete="off" placeholder="......" name="password">
        </div>
        <button class="btn btn-primary login-form loginbtn" type="submit" name="button">LOGIN</button>
    </form>
    <p>Don't have an account yet? <a href="/register">Sign up instead!</a></p>
  </div>
  <%- include("partials/footer"); -%>
    <script src="javascripts/main.js"></script>