body,html{
height: 100%;

}

/* remove outer padding */
.main .row{
padding: 0px;
margin: 0px;
}


/*Allow main to be next to Nav*/
.main{
  padding: 10px 10px 0 10px;
  position: absolute;
  width: calc(100% - 40px); /*keeps 100% minus nav size*/
  margin-left: 40px;
  float: right;
}


/* .....NavBar: BIG Screens..... */

@media (min-width: 1570px) {

/*Allow main to be next to Nav*/
.main{
  width: calc(100% - 200px); /*keeps 100% minus nav size*/
  margin-left: 200px;
}
}


.mySidebar{

margin-top:30px;

height:100%;
width:250px;
position:absolute;
left:0;
font-family: "Arial";
  letter-spacing: 5px;
z-index:1;

}

.mySidebar ul li {
  background-color: #222;
  border-color: White;

}
.mySidebar a {
    color:#616161
}

/*adds border top to first nav box */
.mySidebar > li:first-child{
  border-top: 1px #e5e5e5 solid;
}

/*adds border to bottom nav boxes*/
.mySidebar > li{
  border-bottom: 1px #e5e5e5 solid;
}

.mySidebar li:hover {
  background-color: White;
  text-decoration-line:none;
}
.mySidebar a {
  text-decoration-line:none;
}


/* //// edit products page /// */


.edit-page-table {
  width: 100%;

}

.edit-page-table tr td {

  border: 1px solid #e7e7e7;
  font-weight: bold;
  text-align: center;
  padding: 5px;

}

.edit-page-table .tdtitle {
  width: 55%;
  text-align: left;
}

.tdimage {
  width: 25px;
  height:25px;
}

.edit-page-table tr:nth-child(odd) td {
  background-color: #f8f8f8;
}

.editcontainer
{
  height:450px;
}
.imgexample
{
  width:450px;
  height:300px;
}
