html {
  min-height: 100%;
  position: relative;
  z-index: 0;

}

body {
  background-color: #FAFAFA;
  height: auto;
}

table, th, td {
  font-family: Arial;
  border-collapse: collapse;
}

.msg-respond {
  padding-left: 75px;
}

.AddComment {
  display: block;
}

.deletemsg {
  padding-left: 25%;
}

.navbar-brand-logo {
  width: 250px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.btn {
  position: relative;
  z-index: 4;
}

.specialfas {
  padding-left: 5px;
}

span .badge {
  width: 15px;
  height: 65px;
}

.productqty {
  display: block;
  background: Gray;
  color: white;
  width: 15px;
  margin-left: 5px;
  text-align: center;
  height: 22px;
}

th, td {
  padding: 5px;
  text-align: left;
}

.n1 {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-brand a {
  color: #777;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cart-btn {
  margin-top: 45px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
z-index:99999;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
  top: 50px;
  height: 50rem;
}

.thumbnail>h4 {
  padding: 7px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail h4 .info {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.6em;
  padding-left: 15px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 4px;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.thumbnail h4 .info>span {
  margin-right: 10px;
}

.thumbnail img {
  width: 100%;
  height: 200px;
}

.thumbnail a.btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}



#topPanel li {
  border-right: 1px #e5e5e5 solid;
}

@media (min-width: 768px) {
  #topPanel {
    position: relative;
    left:250px;

  }
  .row {
    position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 2px;
    right: 0;
  }
}

@media (max-width: 768px) {
  #topPanel {
    margin-top: 5%;

  }

  #topPanel li {
    width: 50%;
    border-bottom: 1px #e5e5e5 solid;
    border-right: 0px #e5e5e5 solid;
  }
}

.categories ul li {
  display: inline;
}

.admin-dash {
  padding-top: 35px;
  margin-left: 75px;
}


/* TYPEAHEAD STYLES */

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

.shipMark {
  position:absolute;
  overflow:auto;
  right:75px;
  top:45;

}
